doctype html(lang="en")
head
    meta(charset="utf-8") 
    meta(name="viewport" content="width=device-width, initial-scale=1.0") 
    meta(name="description" content="") 
    meta(name="author" content="") 
    title= Home
    link(href="../css/bootstrap.min.css" rel="stylesheet") 
    link(href="../css/font-awesome.min.css" rel="stylesheet") 
    link(href="../css/main.css" rel="stylesheet") 
    link(rel="stylesheet" href="../css/animate.min.css") 
    //- script(src="js/wow.min.js")
    //- script.
    //-     new WOW().init();
body
    .container
        .header
             .row.head
                .col-md-4
                     p Default Welcome Msg!
                .col-md-8
                     nav.menu
                         ul.list-unstyled.list-inline.text-right 
                            li  
                                img.linea(src='../images/flag1.png')
                                p.linea Languaje
                                i.linea.glyphicon.glyphicon-menu-down
                            li 
                                i.linea.fa.fa-usd(aria-hidden='true')
                                p.linea currency
                                i.linea.glyphicon.glyphicon-menu-down
                            li 
                                i.linea.fa.fa-user(aria-hidden='true')
                                p.linea MyAccou
                                i.linea.glyphicon.glyphicon-menu-down
            .row.opening
                .col-md-4
                    .col-md-2
                        i.fa.fa-clock-o(aria-hidden='true')
                    .col-md-7
                        h3 OPENING TIME
                        p 9:00 AM- 10:00 PM
                .col-md-4
                    img.linea(src='../images/logo.png')
                .col-md-4
                    .col-md-9
                        input(type='Search', placeholder='...Search')
                    .col-md-2
                        i.glyphicon.glyphicon-search
            .row.home
                .col-md-9.text-left.navbar-collapse
                    ul.nmenu.list-unstyled.list-inline
                        li 
                            a(href='#') HOME
                        li 
                            a(href='#') CONTACTUS
                .col-md-6.text-right

                    .my-cart.col-md-4
                        i.glyphicon.glyphicon-shopping-cart My Cart
                        p 2 item(s) -$244.00
            .row.text-center.contactus
                .capa
                    .col-md-8.contact
                        h1 CONTACTUS
                    .col-md-4.conta.text-left
                        p phone:0(1234)567890
                        p Mail:Infor@roadthemes.com
                        p Address:No 40 Baria Sreet 133/2 New York City,NY, Unied States.
            .row.mapa-formulario
                .col-md-6.mapa
                    .map
                        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.46625274051!2d-73.98501728506272!3d40.773762741772444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2585ff9df2f6d%3A0xf876ccebba645bff!2sEscuela+Juilliard!5e0!3m2!1ses-419!2spe!4v1461293387109', width='600', height='600', frameborder='0', style='border:0', allowfullscreen='')
                .col-md-6.formulario
                    .cuadrados-peques
                       .col-md-6    
                            input(type='text',name='nombre' placeholder='First name')
                            input(type='text',name='Email' placeholder='Email')
                       .col-md-6 
                            input(type='text',name='nombre' placeholder='last name')
                            input(type='text',name='Email' placeholder='Wbsite')

                    .cuadrado-degado
                        input(type='text',name='nombre' placeholder='Subject')
                    .cuadrado-grueso
                        input(type='text',name='nombre' placeholder='Message')
                    button.btn(type='button') SEND
            .row.access
                .col-md-3
                    h3 ACCESSORIES
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    i.linea.fa.fa-facebook-official(aria-hidden='true')
                    i.linea.fa.fa-twitter(aria-hidden='true')
                    i.linea.fa.fa-forumbee(aria-hidden='true')
                    i.linea.fa.fa-skype(aria-hidden='true')
                    i.linea.fa.fa-dribbble(aria-hidden='true')
                .col-md-2
                    h3 MY ACCOUNT
                    ul.list-unstyled
                        li
                            i.linea.fa.fa-caret-right(aria-hidden='true')
                            p.linea My Account
                        li
                            i.linea.fa.fa-caret-right(aria-hidden='true')
                            p.linea Order History
                        li
                            i.linea.fa.fa-caret-right(aria-hidden='true')
                            p.linea Wish List
                        li
                            i.linea.fa.fa-caret-right(aria-hidden='true')
                            p.linea Newsletter
                .col-md-2
                    h3 INFORMATION
                    ul.list-unstyled
                        li
                            i.linea.fa.fa-caret-right(aria-hidden='true')
                            p.linea My Account
                        li
                            i.linea.fa.fa-caret-right(aria-hidden='true')
                            p.linea Order History
                        li
                            i.linea.fa.fa-caret-right(aria-hidden='true')
                            p.linea Wish List
                        li
                            i.linea.fa.fa-caret-right(aria-hidden='true')
                            p.linea Newsletter
                .col-md-2
                    h3 EXTRAS
                    ul.list-unstyled
                        li
                            i.linea.fa.fa-caret-right(aria-hidden='true')
                            p.linea My Account
                        li
                            i.linea.fa.fa-caret-right(aria-hidden='true')
                            p.linea Order History
                        li
                            i.linea.fa.fa-caret-right(aria-hidden='true')
                            p.linea Wish List
                        li
                            i.linea.fa.fa-caret-right(aria-hidden='true')
                            p.linea Newsletter
                .col-md-3
                    h3 ABOUT US
                    .about
                        .col-md-1
                            .icono_1
                                i.fa.fa-map-marker(aria-hidden='true')
                        .col-md-10
                            p 8901 Marmora Road,Glasgow DO4 89
                            p GR, New York 
                        .col-md-1

                            .icono_2
                                i.fa.fa-phone(aria-hidden='true')
                        .col-md-10
                            p (0123)456789
                            p (0123)457689
                        .col-md-1
                            .icono_3
                                i.linea.glyphicon.glyphicon-envelope
                        .col-md-10
                            p admin@bootexperts.com
            .row.footer
                .col-md-6
                    p.linea Copyght 2015 
                        spam.linea BootExperts
                    p.linea All rights reserved
                   
                .col-md-6